* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url('https://github.githubassets.com/images/modules/profile/profile-first-repo-dark.svg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
  background-color: #171717;
}

.dropbtn {
  background-color: #4CAF50;
  color: #700000;
  padding: 12px;
  font-size: 10px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 40px;
  right: 0;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 12px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 6px 10px;
  text-decoration: none;
  border-style: outset;
  border-color: teal;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

h2 {
    text-align: center;
    color: white;
}

h4 {
    text-align: center;
    color: azure;
}

p {
    color: orange;
}
